.btn{
    width: 200px;
    height: 60px;
    color: black;
    border-style: 0;
    /* border-radius: 20px; */
    background-color: lightgray;
    padding: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover{
    /* font-size: 22px; */
    box-shadow: 2px 2px 2px black;
    opacity: 1;
}

/* .option-1{
    position: relative;
    left: 60.7%;
}

.option-2{
    position: relative;
    left: 60.8%;
}

.option-3{
    position: relative;
    left: 60.9%;
} */